src/main/resources/jaxb/loom-1.0.xsd.old

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:loom="http://weaver.ru/schema/loom"
           targetNamespace="http://weaver.ru/schema/loom"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

    <xs:element name="loom" type="loomType">
        <xs:annotation>
            <xs:documentation>Элемент - станок</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="loomType">
        <xs:annotation>
            <xs:documentation>Тип - станок</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="isRol" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Признак "связанные ремизы"</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>